@import "fonts/Fonts.css";

* {
  -mfx-blue: #2196f3;
  -mfx-charcoal: #445055;
  -mfx-green: #4caf50;
  -mfx-onyx: #353935;
  -mfx-orange: #ff9800;
  -mfx-purple: #7a0ed9;
  -mfx-red: #ef6e6b;
  -mfx-yellow: #ffea00;

  -mfx-text-he: rgba(0, 0, 0, 0.87); /* High Emphasis */
  -mfx-text-me: rgba(0, 0, 0, 0.6); /* Medium Emphasis*/
  -mfx-text-disabled: rgba(0, 0, 0, 0.38); /* Disabled */

  -common-gradient: linear-gradient(
    to right bottom,
    #c4008b,
    #d00085,
    #dc007f,
    #e60b79,
    #ef1872,
    #f5276b,
    #fa3564,
    #fe415e,
    #ff5158,
    #ff5f52,
    #ff6c4e,
    #ff794b
  );
  -secondary-gradient: linear-gradient(
    to right bottom,
    #1ec400,
    #00bd3a,
    #00b654,
    #00ae67,
    #00a574,
    #00a280,
    #009e8a,
    #009a91,
    #009b9d,
    #009ba8,
    #009bb2,
    #009abb
  );
}

/**************************************************
 * Root
**************************************************/
.rootPane {
  -fx-background-color: white;
  -fx-background-radius: 10;
  -fx-border-color: #ebebeb;
  -fx-border-radius: 10;
}

/**************************************************
 * Window Header
**************************************************/
.rootPane .close-icon {
  -mfx-color: -mfx-red;
  -fx-opacity: 0.5;
}

.rootPane .close-icon:hover {
  -fx-opacity: 1;
}

.rootPane .minimize-icon {
  -mfx-color: #ffbf37;
  -fx-opacity: 0.5;
}

.rootPane .minimize-icon:hover {
  -fx-opacity: 1;
}

.rootPane .settings-icon {
  -mfx-color: -mfx-charcoal;
  -fx-opacity: 0.5;
}

.rootPane .settings-icon:hover {
  -fx-opacity: 1;
}

.rootPane .settings-icon:settings-open {
  -fx-opacity: 1;
}

.rootPane .windowTitle {
  -fx-font-family: "Comfortaa Bold";
  -fx-font-size: 24px;
  -fx-text-fill: -mfx-text-he;
}

/**************************************************
 * Window Content
**************************************************/
.contentBox {
  -fx-background-color: transparent;
}

/**************************************************
 * Buttons
**************************************************/
.mfx-button {
  -fx-background-color: -mfx-purple;
  -fx-text-fill: white;
  -fx-font-family: "Comfortaa SemiBold";
  -fx-cursor: hand;
}

.mfx-button .mfx-ripple-generator {
  -mfx-ripple-radius: 40;
  -mfx-auto-clip: true;
}

#directoryIcon {
  -fx-cursor: hand;
}

#settingsIcon {
  -fx-cursor: hand;
}

.greenButton {
  -fx-background-color: -mfx-green;
}

.redButton {
  -fx-background-color: -mfx-red;
}

/**************************************************
 * Text Fields
**************************************************/
.mfx-text-field {
  -fx-font-family: "Comfortaa SemiBold";
}

.mfx-text-field .floating-text {
  -fx-font-family: "Comfortaa SemiBold";
}

.directoryIcon {
  -mfx-color: -mfx-orange;
  -fx-opacity: 0.6;
}

.directoryIcon:hover {
  -fx-opacity: 1;
}

#directoryField:invalid {
  -fx-border-color: -mfx-red;
}

#directoryField:invalid .floating-text {
  -fx-text-fill: -mfx-red;
}

#directoryField:invalid .mfx-font-icon {
  -mfx-color: -mfx-red;
}

#validationLabel {
  -fx-font-family: "Comfortaa SemiBold";
  -fx-font-size: 11;
}

/**************************************************
 * List View
**************************************************/
.mfx-list-view .virtual-flow .mfx-list-cell .data-label,
.mfx-check-list-view .virtual-flow .mfx-check-list-cell .data-label {
  -fx-font-family: "Open Sans Regular";
}

.mfx-list-view .virtual-flow .mfx-list-cell:selected .data-label {
  -fx-font-family: "Open Sans SemiBold";
}

.mfx-list-view,
.mfx-check-list-view {
  -fx-background-color: white;
  -fx-background-radius: 10;
  -fx-border-color: -mfx-purple;
  -fx-border-radius: 10;
  -fx-padding: 4;
}

.mfx-list-view .virtual-flow,
.mfx-check-list-view .virtual-flow {
  -fx-background-color: transparent;
}

.mfx-list-view .virtual-flow .mfx-list-cell,
.mfx-check-list-view .virtual-flow .mfx-check-list-cell {
  -fx-background-color: transparent;
  -fx-border-color: transparent;
}

.mfx-list-view .virtual-flow .mfx-list-cell:hover,
.mfx-list-view .virtual-flow .mfx-list-cell:selected {
  -fx-background-color: rgba(0, 0, 0, 0.05);
}

.mfx-list-view .virtual-flow .mfx-list-cell .trash-icon {
  -fx-cursor: hand;
}

/**************************************************
 * Checkboxes
**************************************************/
.mfx-checkbox {
  -fx-font-family: "Comfortaa";
  -fx-text-fill: -mfx-text-he;
}

.mfx-checkbox .text {
  -fx-font-smoothing-type: lcd;
}

/**************************************************
 * Labels
**************************************************/
.sectionTitle {
  -fx-font-family: "Comfortaa SemiBold";
  -fx-font-size: 18;
  -fx-text-fill: -mfx-text-he;
}

/**************************************************
 * ComboBoxes
 **************************************************/
.mfx-legacy-combo-box {
  -fx-min-width: 100;
}
